<svg width="125" height="36" viewBox="0 0 125 36" xmlns="http://www.w3.org/2000/svg">
    <title>
        Against
    </title>
    <g fill="none" fill-rule="evenodd">
        <path class="background" d="M1.856 21.256l11.03 11.718c1.572 1.67 4.65 3.026 6.887 3.026h100.83c2.23 0 4.04-1.923 4.04-4.29V4.29c0-2.37-1.805-4.29-4.04-4.29H19.773c-2.23 0-5.313 1.352-6.893 3.03L2.018 14.57l-.002.043A4.278 4.278 0 0 0 .356 18c0 1.303.583 2.47 1.5 3.256z"/>
        <text font-family="ProximaNova-Bold, ProximaNova" font-size="18" font-weight="bold">
            <tspan x="36.543" y="24">AGAINST</tspan>
        </text>
        <g stroke-width="3" stroke-linecap="round">
            <path d="M17.655 14.692s7.764 3.872 9.77 7.633M26.355 13.624s-6.596 5.635-7.632 9.77"/>
        </g>
    </g>
</svg>
