<svg width="255" height="16" viewBox="0 0 255 16" xmlns="http://www.w3.org/2000/svg">
    <title>
        The argument against
    </title>
    <g fill="none" fill-rule="evenodd">
        <text font-family="ProximaNova-Bold, ProximaNova" font-size="20" font-weight="bold" letter-spacing="-.769" fill="#C44531" transform="translate(2 -5)">
            <tspan x="25" y="20">THE ARGUMENT AGAINST</tspan>
        </text>
        <g stroke="#C44531" stroke-width="3" stroke-linecap="round">
            <path d="M2.37 3.34s9.49 4.733 11.94 9.33M13.005 2.035s-8.062 6.887-9.33 11.94"/>
        </g>
    </g>
</svg>
