<svg width="305" height="42" viewBox="0 0 305 42" xmlns="http://www.w3.org/2000/svg">
    <title>The argument against</title>
    <g fill="none" fill-rule="evenodd">
        <path d="M1.75 24.8l12.866 13.67C16.45 40.42 20.044 42 22.652 42h277.635c2.603 0 4.713-2.243 4.713-5.004V5.004C305 2.24 302.895 0 300.287 0H22.652c-2.603 0-6.2 1.578-8.042 3.537L1.938 17l-.003.05A4.992 4.992 0 0 0 0 21a4.99 4.99 0 0 0 1.75 3.8z" fill="#C44531"/>
        <text font-family="Proxima Nova" font-size="20" font-weight="bold" letter-spacing="-.5" fill="#FFF" transform="translate(25 7)">
            <tspan x="29" y="20">THE ARGUMENT AGAINST</tspan>
        </text>
        <g stroke="#FFF" stroke-width="3" stroke-linecap="round">
            <path d="M25.54 15.82s9.49 4.733 11.94 9.33M36.175 14.516s-8.063 6.887-9.33 11.94"/>
        </g>
    </g>
</svg>
