<div class="ContextCard">
    <div class="ContextCard-body card">
        <button class="ContextCard-close">Close</button>
        <h2 class="ContextCard-title">{{author}}:</h2>
        <div class="ContextCard-content"></div>
    </div>
</div>
