<svg width="221" height="17" viewBox="0 0 221 17" xmlns="http://www.w3.org/2000/svg">
    <title>
        Group 7
    </title>
    <g fill="none" fill-rule="evenodd">
        <text font-family="ProximaNova-Bold, ProximaNova" font-size="20" font-weight="bold" letter-spacing="-.5" fill="#008255" transform="translate(2 -4)">
            <tspan x="28" y="20">THE ARGUMENT FOR</tspan>
        </text>
        <path d="M17 2c-4.615 3.545-7.416 8.174-9.23 13C4.307 11.455 2 11.455 2 11.455" stroke="#008255" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>
