<svg width="125" height="36" viewBox="0 0 125 36" xmlns="http://www.w3.org/2000/svg">
    <title>
        For
    </title>
    <g fill="none" fill-rule="evenodd">
        <path class="background" d="M122.787 21.256l-11.03 11.718c-1.572 1.67-4.652 3.026-6.887 3.026H4.04C1.81 36 0 34.077 0 31.71V4.29C0 1.92 1.804 0 4.04 0h100.83c2.23 0 5.313 1.352 6.893 3.03l10.86 11.54.004.043a4.278 4.278 0 0 1 1.66 3.387c0 1.303-.583 2.47-1.5 3.256z"/>
        <text font-family="ProximaNova-Bold, Proxima Nova" font-size="18" font-weight="bold" transform="translate(35 6)">
            <tspan x="0" y="18">FOR</tspan>
        </text>
        <path d="M104.385 13c-3.196 2.455-5.134 5.66-6.39 9C95.597 19.545 94 19.545 94 19.545" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>
