<svg width="306" height="42" viewBox="0 0 306 42" xmlns="http://www.w3.org/2000/svg">
    <title>The argument for</title>
    <g fill="none" fill-rule="evenodd">
        <path d="M304.21 24.8l-12.866 13.67c-1.835 1.95-5.428 3.53-8.036 3.53H5.673C3.07 42 .96 39.757.96 36.996V5.004C.96 2.24 3.065 0 5.673 0h277.635c2.603 0 6.2 1.578 8.042 3.537L304.022 17l.003.05A4.992 4.992 0 0 1 305.96 21a4.99 4.99 0 0 1-1.75 3.8z" fill="#008255"/>
        <text font-family="ProximaNova" font-size="20" font-weight="bold" letter-spacing="-.5" fill="#FFF" transform="translate(40 7)">
            <tspan x="0" y="20">THE ARGUMENT FOR</tspan>
        </text>
        <path d="M263 13c-4.615 3.545-7.416 8.174-9.23 13-3.462-3.545-5.77-3.545-5.77-3.545" stroke="#F9F9F9" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>
